<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
  </system.web>
  
  <system.serviceModel>

    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
    
    <!-- ServicioREST : Atributos del Servicio -->
    <services>
      <!-- Definición del Interfaz del Servicio -->
      <service name="PlazasREST.ServiceREST" behaviorConfiguration="ServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address="" binding="webHttpBinding" contract="PlazasREST.IServiceREST" behaviorConfiguration="web">
        </endpoint>
      </service>
    </services>
    <!-- Definición del Comportamiento del Servicio -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <!-- // ServicioREST : Atributos del Servicio -->
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <connectionStrings>
    <!-- PRODUCCIÓN -->
    <add name="WebPlazasEntities" connectionString="metadata=res://*/Model.WebPlazasModel.csdl|res://*/Model.WebPlazasModel.ssdl|res://*/Model.WebPlazasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.83.227;initial catalog=ElPlazas;persist security info=True;user id=4dw;password=Admin01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- DESARROLLO -->
    <!--<add name="WebPlazasEntities" connectionString="metadata=res://*/Model.PlazasModel.csdl|res://*/Model.PlazasModel.ssdl|res://*/Model.PlazasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.1.70;initial catalog=ElPlazas;persist security info=True;user id=sa;password=Admin01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WebPlazasEntities" connectionString="metadata=res://*/Model.PlazasModel.csdl|res://*/Model.PlazasModel.ssdl|res://*/Model.PlazasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.83.227;initial catalog=ElPlazas;persist security info=True;user id=4dw;password=Admin01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="WebPlazasEntities" connectionString="metadata=res://*/Model.WebPlazasModel.csdl|res://*/Model.WebPlazasModel.ssdl|res://*/Model.WebPlazasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.28.83.227;initial catalog=ElPlazas;persist security info=True;user id=4dw;password=Admin01;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>

</configuration>